$main-color: rgb(168, 58, 253);
$hover-color: rgba(167, 58, 253, 0.9);
$active-button-bg: #f5e7ff;
$active-button-bg-hover: #a73afd29;
$header-bg: linear-gradient(rgb(111, 1, 251) -7.07999%, rgb(255, 73, 215) 100%),
  linear-gradient(rgb(217, 217, 217), rgb(217, 217, 217));
$discount-color: #f44;
